auto-install-peers=false
strict-peer-dependencies=false
only-built-dependencies=@firebase/util,protobufjs,puppeteer,esbuild,core-js
hoist-pattern[]=*esbuild*
hoist-pattern[]=@esbuild/*
hoist-pattern[]=*lightningcss*
hoist-pattern[]=*oxide*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=@esbuild/*
public-hoist-pattern[]=*lightningcss*
public-hoist-pattern[]=*oxide*

